<p><h1>Вітаю, <%= @current_user.name%> </h1></p>
<pre>Ваші права у системі icontract:
	<ul>
		<% @current_user.roles.active.each do |role|%>
			<%= tag.li role.name %>
		<% end	%>

	</ul>
</pre>

<% if @current_user.can_check_reminders? %>
	<pre>	Запустити перевірку Нагадувань (згенерувати наступні події):
	  <%= button_to "Check contract reminders on date #{ DateTime.now.strftime("%d.%m.%Y") }", check_all_reminders_contracts_path(date: DateTime.now.strftime("%d.%m.%Y")) %>	  

	  <%= button_to "Check akt reminders on date #{ DateTime.now.strftime("%d.%m.%Y") }", check_all_reminders_akts_path(date: DateTime.now.strftime("%d.%m.%Y")) %>	

		<%= button_to "Check all reminders #{ DateTime.now.strftime("%d.%m.%Y") }", all_generate_events_reminders_path(date: DateTime.now.strftime("%d.%m.%Y")) %>	  
	</pre>
<% end %>


<% if @current_user.can_send_events? %>
	<pre> Запустити перевірку подій - розіслати нагадування на е-мейли по подіях, якщо до них залишилось 1 тиждень щабо 1 день або сьогодні і події активні (тобто не відпрацьовані)

	  <!-- button_to "Check events  on date #{ DateTime.now.strftime("%d.%m.%Y") }", all_send_emails_events_path(date: DateTime.now.strftime("%d.%m.%Y")) -->	

	  <button onclick="allSendEmailsEvents('<%= DateTime.now.strftime("%d.%m.%Y")%>')">Check events</button>

	</pre>
<% end %>

<% if @current_user.is_admin %>
	<pre> Запустити процесс MorningCheckJob. Увага! Запускати тількі один раз!
	  <!-- button onclick="startMorningCheckJob()">startMorningCheckJob()</button-->

	  <%= link_to start_morning_check_job_sessions_path  do %>	
		  <button> start_morning_check_job_sessions_path  </button>
		<% end %>


	</pre>

<% end %>

<% if @current_user.is_admin %>
	<pre> очистити REDIS:RESQUE, скасувати всі відкладені завдання і зупунити всі процеси перевірок.
	  <button onclick="clearResque()">очистити REDIS:RESQUE</button>
	
		<p>
			Redis Queues:
			<% Resque.queues.each do |queue_name| %>
			  <%=" queue:( #{queue_name} )" %>
			<%end %>
		</p>
		<p>

			Redis deleyed keys:
			<% Resque.redis.keys("delayed:*").each do |key| %>
			    Key: <%= key %> Value: <%= Resque.redis.lrange(key,0,1000)  %>    <br/>
			<%end%>
		</p>
	</pre>

<% end %>



<hr/>
