<%= form_with(model: acc_type, local: true) do |form| %>
  <% if acc_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(acc_type.errors.count, "error") %> prohibited this acc_type from being saved:</h2>

      <ul>
      <% acc_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_eng %>
    <%= form.text_field :name_eng %>
  </div>

  <div class="field">
    <%= form.label :name_ukr %>
    <%= form.text_field :name_ukr %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
