<%= form_with(model: movement_group, local: true) do |form| %>
  <% if movement_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movement_group.errors.count, "error") %> prohibited this movement_group from being saved:</h2>

      <ul>
      <% movement_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :direction %>
    <%= form.select( :direction, Movement.directions.collect {|d| [d[0],d[0]]} ) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
