<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h3 >Дні із рухом коштів:</h3>  
    </div>
    
  </div>
  <div class="row">

    <div class="col-md-12">
      <table class="table p-1">
        <thead>
          <tr>
            <th>Id</th>
            <th style="min-width: 110px;">Дата</th>
            <th style="max-width: 70px;">Відкр.?</th>
            <th style="max-width: 150px;">Коментар</th>
            <th style="min-width: 650px;">Рух</th>
          </tr>
        </thead>

        <tbody>
          <% @days.each do |day| %>
            <tr>
              <td><%= day.id %></td>
              <td><%= link_to day.date, by_date_movements_path(date: day.date) %></td>
              <td><%= yn !day.is_closed %></td>
              <td><%= day.comment %></td>
              <td><%= raw day.movements_list_detailed(@current_user).map{|k,v| v}.join('<br>') %></td>
             
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>