<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :bank_id %>
    <%= form.select :bank_id, Bank.all.collect{ |x| [x.name+" #{x.code}", x.id] }  %>
  </div>

  <div class="field">
    <%= form.label :currency_id %>
    <%= form.select :currency_id, Currency.all.collect{ |x| [x.name_int, x.id] }  %>
  </div>

  <div class="field">
    <%= form.label :saldo_begin_year %>
    <%= form.text_field :saldo_begin_year %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.select :acc_type_id, Company.all.collect{ |x| [x.code_name, x.id] }  %>
  </div>

  <div class="field">
    <%= form.label :acc_type_id %>
    <%= form.select :acc_type_id, AccType.all.collect{ |x| [x.name_ukr, x.id] }  %>
  </div>

  <div class="field">
    <%= form.label :term %>
    <%= form.date_field :term %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
