<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Номер" %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label "Банк" %>
    <%= form.select :bank_id, Bank.all.collect{ |x| [x.name+" #{x.code}", x.id] }, {}, {disabled: !@current_user.can_full_edit_account?} %>
  </div>

  <div class="field">
    <%= form.label "Валюта" %>
    <%= form.select :currency_id, Currency.all.collect{ |x| [x.name_int, x.id] }, {},{disabled:true} %>
  </div>

  <div class="field">
    <%= form.label "Початкове значення" %>
    <%= form.text_field :saldo_begin_year, disabled: !@current_user.can_full_edit_account? %>
  </div>

  <div class="field">
    <%= form.label "Компанія" %>
    <%= form.select :company_id, Company.all.collect{ |x| [x.code_name, x.id] }, {}, disabled: !@current_user.can_full_edit_account? %>
  </div>

  <div class="field">
    <%= form.label "Рахунок за замовченням?" %>
    <%= form.check_box :is_default %>
  </div>

  <div class="field">
    <%= form.label "Тип рахунку" %>
    <%= form.select :acc_type_id, AccType.all.collect{ |x| [x.name_ukr, x.id] }  %>
  </div>

  <div class="field">
    <%= form.label "Строк, до" %>
    <%= form.text_field :term, class: "datepicker"%>
  </div>

  <div class="field">
    <%= form.label "Процент" %>
    <%= form.text_field :interest %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить"%>
  </div>
<% end %>
