<p id="notice"><%= notice %></p>

<h3>Рахунки, залишки на ранок <%= @date_of_saldo %></h2>

<table class="table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Компанія</th>
      <th>Номер</th>
      <th>Банк</th>
      <th>Валюта</th>
      <th>Початкове значення</th>
      <th>Поточне значення</th>
      <th>Рахунок за замовченням?</th>
      <th>Тип рахунку</th>
      <th>Строк, до</th>
      <th>Процент</th>

      <th colspan="2">Управление</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.company.code_name %></td>
        <td><%= account.number %></td>
        <td><%= account.bank.name + ' ' + account.bank.code %></td>
        <td><%= account.currency.name_int %></td>
        <td><%= account.saldo_begin_year %></td>
        <td><%= account.saldo_on_date(@date_of_saldo) %></td>
        <td><%= account.is_default %></td>
        <td><%= account.acc_type.name_ukr %></td>
        <td><%= account.term.try( :strftime, "%d.%m.%Y" ) %></td>
        <td><%= account.interest %></td>


        <td><%= link_to 'Изменить', edit_account_path(account) %></td>
        <td><%= link_to 'Удалить', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path if @current_user.can_full_edit_account?%>
